{% extends "layout.html" %}
{% load static %}


{% block title %}Blog{% endblock %}

{% block head %}
	{{ block.super }}
	<link href="{% url "wiblog:atom" %}" rel="alternate" type="application/atom+xml"
		title="Fragmented Development Blog (Atom)">
	<link href="{% url "wiblog:rss" %}" rel="alternate" type="application/rss+xml"
		title="Fragmented Development Blog (RSS)">
	<link rel="stylesheet" type="text/css"
		href="{% static "/wiblog/css/prism.css" %}">
	<script type="text/javascript"
		 src="{% static "/wiblog/js/prism.js" %}"></script>
{% endblock %}

{% block content %}
			<header class="content-header">
				{% include "partial-nav.html" %}
				<h1>Blog</h1>
				<p>
					This is a repository for the thoughts, notes, and achievements
					of <strong>Mr. Jacob Honeyhume</strong>. It contains posts on a large variety of
					subjects, technical and otherwise.
				</p>
			</header>
			<hr>
			{% for post in posts %}
			<article>
				<header class="post-header">
					<h1 class="post-title">
						<a href="{% url "wiblog:post" slug=post.slug %}">
							{{ post.formatted_title }}</a>
					</h1>
					<p class="post-date">
						Posted on {{ post.date|date:"Y-m-d" }}
						{% if post.updated > post.date %}
						(Updated on {{ post.updated|date:"Y-m-d" }})
						{% endif %}
					</p>
				</header>
				{{ post.formatted_summary }}
				<ul class="tag-list">
					{% for tag in post.tags.all %}
						<li>
							<a href="{% url "wiblog:tagged" tag %}" class="tag">{{ tag }}</a>
						</li>
					{% endfor %}
				</ul>
			</article>
			{% endfor %}

			<hr>
			{% if is_paginated %}
			<nav role="navigation" aria-label="Pagination Navigation">
				<ul class="sub-nav">
					{% if page_obj.has_previous %}
					<li>
						<a href="{% url "wiblog:index" %}?page={{ page_obj.previous_page_number }}"
							class="nav-item pagination-prev">Newer Posts</a>
					</li>
					{% endif %}
					{% if page_obj.has_next %}
					<li>
						<a href="{% url "wiblog:index" %}?page={{ page_obj.next_page_number }}"
							class="nav-item pagination-next">Older Posts</a>
					</li>
					{% endif %}
				</ul>
			</nav>
			{% endif %}
			<p>
				For a full list of posts, feel free to check out the <a
				href="{% url "wiblog:archive" %}">Archive</a>!
			</p>
{% endblock %}
