/*
┌──────────────────────────────────────────────────────────────────┐
│ ______               _____               _____  ___   ___   ___  │
│|  ____|             |  __ \             | ____|/ _ \ / _ \ / _ \ │
│| |__ _ __ __ _  __ _| |  | | _____   __ | |__ | | | | | | | | | |│
│|  __| '__/ _` |/ _` | |  | |/ _ \ \ / / |___ \| | | | | | | | | |│
│| |  | | | (_| | (_| | |__| |  __/\ V /   ___) | |_| | |_| | |_| |│
│|_|  |_|  \__,_|\__, |_____/ \___| \_/   |____/ \___/ \___/ \___/ │
│                 __/ |                                            │
│                |___/                                             │
└──────────────────────────────────────────────────────────────────┘	

	Layout © 2021, Jacob Honeyhume
	Licensed AGPLv3, Rock on.
*/



/*= Colors (Light) =========*/

:root,
html.light {
	/* Respect the user's preference */
	color-scheme: light dark;
	--active-main: #000;
	--active-shadow: #fefefe;
	--error: #f50;
	--highlight-text: #717f7f;
	--main-text: #171b1b;
	--main-bg: #fefefe;
	--main-shadow: #abc0c0;
	--page-bg: #bed6d6;
}



/*= Font Styles ============*/

@font-face {
	font-display: fallback;
	font-family: 'FD-Header';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
		url(/static/fonts/robotocondensed.woff2) format('woff2'),
		url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nHm2hrkyco9jQ3NKMXpgOBg.woff2) format('woff2');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

@font-face {
	font-display: fallback;
	font-family: 'FD-Header';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
		url(/static/fonts/robotocondensed.woff) format('woff'),
		url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nCSLrGe-fkSRw2DeVgOoWcQ.woff) format('woff')
		url(/static/fonts/robotocondensed.ttf) format('truetype'),
		url(https://fonts.gstatic.com/s/robotocondensed/v13/b9QBgL0iMZfDSpmcXcE8nDokq8qT6AIiNJ07Vf_NrVA.ttf) format('truetype');
}

@font-face {
	font-display: optional;
	font-family: 'FD-Body';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url(/static/fonts/roboto-400.woff2) format('woff2'),
		url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');	
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,
		U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

@font-face {
	font-display: optional;
	font-family: 'FD-Body';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url(/static/fonts/roboto-400.woff) format('woff'),
		url(https://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff'),
		url(/static/fonts/roboto-400.ttf) format('truetype'),
		url(https://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype');
}

@font-face {
	font-display: optional;
	font-family: 'FD-Body';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'),
		url(/static/fonts/roboto-700.woff2) format('woff2'),
		url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215,U+E0FF,U+EFFD,U+F000;
}

@font-face {
	font-display: optional;
	font-family: 'FD-Body';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'),
		url(/static/fonts/roboto-700.woff) format('woff'),
		url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')
		url(/static/fonts/roboto-700.ttf) format('ttf'),
		url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
	font-display: optional;
	font-family: 'FD-Body';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Roboto-Italic'),
		url(/static/fonts/roboto-italic-400.woff2) format('woff2'),
		url(https://fonts.gstatic.com/s/roboto/v15/WxrXJa0C3KdtC7lMafG4dRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
	unicode-range: U+0460-052F,U+20B4,U+2DE0-2DFF,U+A640-A69F;
}

@font-face {
	font-display: optional;
	font-family: 'FD-Body';
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Italic'), local('Roboto-Italic'),
		url(/static/fonts/roboto-italic-400.woff) format('woff'),
		url(https://fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format('woff'),
		url(/static/fonts/roboto-italic-400.ttf) format('ttf'),
		url(https://fonts.gstatic.com/s/roboto/v15/W4wDsBUluyw0tK3tykhXEfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}



/*= Base Styles ============*/

*,*:before,*:after {
	box-sizing: inherit;
}

a {
	color: var(--highlight-text);
	transition: color .25s;
}

article+article {
	border: 0 solid var(--highlight-text);
	border-width: .125em 0 0 0;
}

aside {
	padding-left: 1em;
	padding-right: 1em;
}

aside,
input,
textarea {
	background-color: var(--bg);
	border: 1px solid var(--main-shadow);
	box-shadow: inset .25em .25em 0 var(--main-shadow);
	color: var(--active-main);
}

body {
	color: var(--main-text);
	font: 18px 'FD-Body',sans-serif;
	line-height: 1.2;
}

code {
	font-family: monospace;
}

figure {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

footer {
	text-align: center;
}

footer,h1,h2,h3,h4,header,nav {
	color: var(--highlight-text);
	font-family: 'FD-Header',sans-serif;
	font-weight: bold;
}

header>h1 {
	font-size: 2em;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

header {
	text-align: center;
}

hr {
	background: var(--highlight-text);
	border: 0;
	height: .125em;
	margin: 1em 2em;
}

html {
	background: var(--page-bg);
	box-sizing: border-box;
	padding: 1em;
}

pre {
	max-height: 30em;
	overflow: auto;
}

input,
textarea {
	font: 1em 'FD-Body',sans-serif;
	padding: .75em;
	transition: background-color .25s,box-shadow .25s;
}

input[type=submit] {
	cursor: pointer;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

input[type=email],
input[type=text],
input[type=url] {
	min-width: 24em;
	width: 50%;
}

textarea {
	height: 6em;
	width: 100%;
}



/*= Modules ================*/

.a11y-link {
	background-color: var(--main-bg);
	position: fixed;
	top: -10em;
}

.boxy {
	background: var(--main-bg);
	box-shadow: .5em .5em 0 var(--main-shadow);
	padding: 1em;
	margin: 1em 0;
}

.boxy img {
	max-width: 100%;
}

.content-header {
	color: var(--highlight-text);
}

.content-header>h1 {
	margin-bottom: 0;
}

.content-header>h1+p {
	margin-top: 0;
}

.content-header>p {
	font-style: italic;
}

.error {
	color: var(--error);
	font-weight: bold;
}

.home-modules h1 {
	font-size: 2em;
	text-align: center;
}

.home-software-list {
	margin: 1em 0;
	padding: 0;
	text-align: center;
}

.home-software-list>li {
	display: inline-block;
	padding-left: 1em;
}

.home-software-list>li:first-child {
	padding-left: 0;
}

.home-thumbnail {
	float: right;
	margin: 0 0 1em 1em;
}

.nav,
.sub-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

.nav {
	margin: 0 0 1.5em 0;
	padding: 1em 0;
}

.nav-item {
	font-size: 1.3em;
	font-weight: bold;
	margin: .5em;
	padding: .5em;
	text-decoration: none;
	text-transform: uppercase;
}

.pagination-next::after {
	content: " »";
}

.pagination-prev::before {
	content: "« ";
}

.site-title>a {
	color: var(--main-bg);
	font-size: 3em;
	font-weight: bold;
	letter-spacing: .025em;
	line-height: 1;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-shadow: .125em .125em 0 var(--main-shadow);
	text-transform: uppercase;
}

.sub-nav {
	margin: 0 0 1em 0;
	padding: .5em 0;
}

.sub-nav .nav-item {
	font-size: 1em;
	text-decoration: underline;
}

.tag {
	border: 1px solid var(--main-shadow);
    color: var(--main-text);
    display: inline-block;
    padding: 0.1em 0.25em;
    text-decoration: none;
}

.tag-cloud {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	text-align: center;
}

.tag-cloud li,
.tag-list li {
	display: inline-block;
	list-style: none;
}

.tag-cloud .tag {
    margin: .5em;
}

.tag-list {
	margin: 0 0 1em 0;
	padding: 0;
}

.tag-list::before {
	content: "Tags: ";
	font-style: italics;
}


/*= State ==================*/

a:active,
a:focus,
a:hover {
	color: var(--active-main);
}

input:active,
input:focus,
input:hover,
textarea:active,
textarea:focus,
textarea:hover {
	background-color: var(--active-shadow);
	box-shadow: .25em .25em 0 var(--active-shadow);
}

.a11y-link:active,
.a11y-link:focus {
	top: 1em;
}


/*= Responsive =================*/

@media (prefers-color-scheme: dark) {
	:root,
	html.dark {
		--active-main: #fff;
		--active-shadow: #020202;
		--highlight-text: #7b8b8b;
		--main-bg: #384040;
		--main-shadow: #1b1f1f;
		--main-text: #b7cece;
		--page-bg: #020202;
	}
}

@media screen and (min-width: 48em) {

	main.boxy,
	.nav,
	.site-title {
		max-width: 48em;
		margin-left: auto;
		margin-right: auto;
	}

	.home-modules {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.home-modules>article {
		padding: 0 .5em;
		width: 50%;
	}

	.home-modules>article+article {
		border-width: 0;
	}
}


@media screen and (max-width: 700px) {

	.home-modules {
		display: block;
	}

	.nav-item {
		font-size: 1em;
		margin: .25em;
		padding: .25em;
	}

	body {
		font-size: 1em;
	}

	html {
		padding: .25em;
	}

	input[type=email],
	input[type=text],
	input[type=url] {
		min-width: 0;
		max-width: 24em;
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	html {
		padding: 0;
	}
}

@media print {

	.boxy {
		box-shadow: none;
	}

	a {
		text-decoration: none;
	}

	body {
		margin: 0;
	}

	html {
		padding: 0;
	}

	main {
		padding-left: 0;
		padding-right: 0;
	}

	main a::after {
		color: #333;
		content: " (" attr(href) ") ";
		font-style: italic;
	}

	nav {
		display: none;
	}
}
